@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
html {font-size: 0.7em; }
body {
  font-family: Gowun Dodum, sans-serif, 'malgeunGothic'; 
  overflow-x: hidden; 
  line-height: 1; 
  height: 100vh;
  background-size: cover;
  background: url(images/bg_pro.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.wrapper {width: 100%; margin: 0 auto;}

/* nav */
nav {
	height: 72px; 
	width: 100%;
	z-index: 2;}
li {list-style: none;}
a {text-decoration: none;}
nav ul li {
	float: left;
	width: 25%; 
  text-align: center;
	cursor: pointer;
  font-size: 1.7em;
  letter-spacing: 0.1em; 
	font-weight: 500; 
	line-height: 3.5;
}
nav a {color: #1c3f3a;}
nav a:hover {color: rgb(177, 177, 177);}
.clear::after {content: ""; display: block; clear: both;}
.fixbar {position: fixed; top: 0; left: 0;}
.fixbar li {
	background: #ede6df;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid #c5c5ca;
}
.fixbar li a {color: #000326;}
.fixbar li a:hover { color: #94af76;}
.clear::after {content: ""; display: block; clear: both;}

/*main*/
.pro {height: 2100px;text-align: center;}
#fst{ text-align: center; padding-top: 50px; font-size: 1.7em; color: #1c3f3a;animation: slidedown 1s; letter-spacing: 0.3em;}

.basic > h3 {text-align: center; margin: 50px 0 0 0; font-size: 1.3em; line-height: 1.5em; color: #858588; animation: slidedown 1s; }
.basic > div {display: inline-block; margin-top: 50px; margin-left: 100px;}
.basic div {  margin-right: 95px; margin-bottom: 90px;}
.basic p{font-size: 1.2em; line-height: 1.5em; color: #111; }
.basic p:first-of-type {font-size: 1.4em; font-weight: bold; margin-top: 30px; margin-bottom:17px; color: #1c3f3a; }
.basic img {width: 100px; height: 100px;}
.basic div:first-of-type {animation: fadein 1.5s 1s backwards;}
.basic div:nth-of-type(2) {animation: fadein 1.5s 1.3s backwards;}
.basic div:nth-of-type(3) {animation: fadein 1.5s 1.6s backwards;}

.prf {width: 1300px; height: 300px; background: #1c3f3a; position: relative;}
.me h3 {font-size: 2.2em; font-weight: 400; text-transform: uppercase; color: #1c3f3a; margin-bottom: 20px; margin-top: 30px; letter-spacing: 0.3em; }
.prf p {color: #e5e3d4; font-size: 1.4em; display: block; padding: 42px 0 10px 700px; text-transform: uppercase;}
.prf span { margin-left: 30px; float: right; margin-right: 230px; background: #dddbcc; color: #1c3f3a; line-height: 1.3em; font-weight: 600; width: 230px; text-transform: none; height: 20px; padding: 0 20px;}
.prf img {position: absolute; top: 23px; left: 200px; width: 320px; height: 300px;}

.edu h3 {font-size: 2.2em; font-weight: 400; text-transform: uppercase; color: #1c3f3a; margin-top: 150px; letter-spacing: 0.3em;}
.container {
    margin-top: 30px;
    margin-bottom: 70px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
  }
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  .timeline ul li {
    padding: 20px;
    background-color: #1c3f3a;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h2 {
    text-align: left;
    color:#e5e3d4;
    font-size: 1.3em; 
    line-height: 1.3em;
    margin-bottom: 10px;
  }
  .timeline-content p {
    text-align: right;
    font-size: 1.2em; font-weight: 100;
    line-height: 1.6em;
  }

  /* @media all and (max-width : 768px){
    .basic img {
      width: 150px;
      height: auto !important;
    }
    .basic p {font-size: 1.4em; }
    .basic > div{margin-bottom: 15px;}
    .basic > div:last-of-type {margin-bottom: 50px;}

    .prf strong, .prf p{
      transform: translateX(-46%);
    }
    .prf p {
      padding: 12px 0 30px 700px;
    }
    .prf img {display: none;}
    .prf button {
      display: inline-block;
      margin-right: 1170px; margin-top: 20px;
      background-color: #e5e3d4; 
      color: #1c3f3a;
      font-family: 'Nanum Pen Script', cursive;
      font-size: 1.8em; font-weight: 600;
      line-height: 1.3;
      text-align: center;
      width: 70px; height: 30px; 
      border: 1px solid #e5e3d4;
      border-radius: 13px;
      cursor: pointer;
    }
  } */

  @media all and (min-width: 768px){
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: gray;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 50px;
      border: #1c3f3a 5px solid;
      background-color: #1c3f3a;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline ul li:hover::before {
      background-color: #e5e3d4;
    }
    /* button {display: none;} */
  }


.skill {width: 1200px; height: 300px; background: #1c3f3a; margin-left: 300px; position: absolute; right: 0;} 
.skill div {display: inline-block; margin: 50px;}
.skill h2, .skill p {color: #e5e3d4; text-transform: uppercase;}
.skill h2 {padding-top: 26px; letter-spacing: 0.3em;}
.skill img {width: 100px; height: 100px; margin-top: 26px; margin-right: 26px;}
.skill p {display: inline-flex; margin-top: 18px; margin-right: 30px; font-size: 1.2em; text-align: center;}
.skl h3 {font-size: 2.2em; font-weight: 400; text-transform: uppercase; color: #1c3f3a; margin-bottom: 30px; letter-spacing: 0.3em;}

/*footer */
footer {height: 72px; background-color:#e0dfdd;}
footer p {font-size: 0.5em; padding-top: 20px; padding-left: 20px;}

@keyframes slidedown{
  from{transform: translateY(-200px); opacity: 0;}
}
@keyframes fadein{
  from {opacity: 0;}
}
